<!-- START SIDEBAR-->            
        <div class="admin-block d-flex">
            <div>
                <img src="assets/img/admin-avatar.png" width="45px" />
            </div>
            <div class="admin-info">
            <div class="font-strong">{{currentUser.name}}</div><small>Administrator</small></div>
        </div>
            <ul class="list-group" >
            <a class="list-group-item menubg" routerLink="'/'" [routerLinkActive]="['active']">Inicio <i class="fa fa-chevron-right pull-right"></i></a>
            <ng-container *ngIf="_router.url !='/'">
                <li class="list-group-item text-right">Menú del módulo</li>
            <ng-container *ngFor="let menu of pages_menu">
                    <a class="list-group-item menubg" routerLink="{{menu.url}}"   [routerLinkActive]="['active']" >{{menu.page}} <i class="fa fa-chevron-right pull-right"></i></a>                            
                <!--<li *ngIf="!menu.heading">
                    <a routerLink="{{menu.url}}" routerLinkActive="active"><i class="sidebar-item-icon fa fa-arrow-rightd"></i>
                        <i class="sidebar-item-icon fa fa-file-text"></i>
                        <span class="nav-label">{{menu.page}}</span>
                    </a>
                </li>-->                        
                <!--<li class="heading" *ngIf="menu.heading">Links from Modulo</li>-->
                <!--<li *ngIf="menu.hijos.length > 0" routerLink="{{menu.url}}" routerLinkActive="active">
                    <a href="javascript:;"><i class="sidebar-item-icon fa fa-file-text"></i>
                        <span class="nav-label">{{menu.page}}</span><i class="fa fa-angle-left arrow"></i></a>
                        <ul class="nav-2-level collapse" routerLinkActive="in">
                        <li *ngFor="let submenu of menu.hijos">
                            <a routerLink="{{submenu.url}}" routerLinkActive="active">{{submenu.page}}</a>
                        </li>
                    </ul>
                </li> -->                       
            </ng-container>
            </ng-container>
        </ul>
    