<app-loading *ngIf="isSearching"></app-loading>
<ngb-pagination *ngIf="tableConfig.paginatorPosition=='top' || tableConfig.paginatorPosition=='both'"
  [(page)]="currentPage"
  [pageSize]="pageSize"
  [collectionSize]="totalRecords"
  [boundaryLinks] = "true"
  [directionLinks] = "true"
  [ellipses] = "true"
  [maxSize] = "6"
  [rotate] = "true"
  (pageChange) ="pageChange($event)"
  size="sm"></ngb-pagination>
<!--
  <div class="row">
        <ng-container *ngFor="let item of formSearch">
            <div class="col-md-6 col-lg-6 col-6">
                  <input type="text" value="" class="form-control form-control-sm" [value]="item.value">
                  {{formSearch | json}}
            </div>          
        </ng-container>
<button (click)="verFormulario()">ver Datos Formulario</button>
  </div>
  -->
  <div class="row" style="position:relative">
   <!--
    <div class="col-md-8 col-lg-8 col-sm-8 col-8">
        <div class="input-group input-group-sm mb-1 float-right">
            <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa fa-search"></i></span>
            </div>
            <input #globalSearch type="text" placeholder="Buscar" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
            <div class="text-left" *ngIf="isSearching">
                <i class="ml-1 fa fa-refresh fa-spin fa-2x"></i>
            </div>       
        </div>          
    </div>
--> 

<div class="col-10 col-lg-10" >
    <em *ngIf="totalRecords > 0" class="fz-12">{{from}}-{{to}} - {{totalRecords}}</em>
    <em *ngIf="totalRecords == 0" class="fz-12">Sin Resultados</em>
</div>
<div class="col-2 col-lg-2" >
    <div class="float-right"><span class="fz-12">Mostrar</span> 
        <select (change)="onChangePaginationSize()" name="" id="" [(ngModel)]="pageSize" class=" mb-1 ml-1" style="width:40px;">
            <option [value]="le" *ngFor="let le of pageLength">{{le}}</option>
        </select> 
    </div>
</div>
<div class="col-md-12 col-lg-12 col-sm-12 col-12">

    <div ngbDropdown class="d-idnline-block" display="static" #DropAdvancedSearch="ngbDropdown" >
        <span id="advancedsearch"  class="row">
            <div class="col-md-6 col-lg-6 col-12">
                <div class="input-group input-group-sm mb-1 float-right">
                    <div class="input-group-prepend" *ngIf="tableConfig.allSearch">
                    <span class="input-group-text" id="inputGroup-sizing-sm" ngbDropdownToggle><i class="fa fa-search"></i></span>
                    </div>
                    <input [ngStyle]="tableConfig.allSearch ? {'display':'block'} : {'display': 'none'}" #globalsearch type="text" placeholder="Buscar" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                    <div class="input-group-append" ngbDropdownToggle *ngIf="!tableConfig.listado_seleccion">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Filtrar&nbsp;&nbsp;  <i class="fa fa-filter"></i></span>
                    </div>
                    <!--<div class="text-left" *ngIf="isSearching">
                        <i class="ml-1 fa fa-refresh fa-spin fa-2x"></i>
                    </div>-->
                </div>
            </div> 
        </span>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="col-md-12 col-lg-12" >
            <div class="form_search">
                <div class="row">
                    <ng-container *ngFor="let column of tableConfig.columns">
                        <div class="col-md-3 col-lg-3 col-sm-6 col-6" *ngIf="column.type!='date' && column.searchable">
                            <div class="form-group" >
                                <label for="exampleInputEmail1" class="text-muted">{{column.title}}</label>
                                <input  [type]="column.type" (blur)="SearchForRowFilter($event, column)" class="fz-11 rounded float-right form-control form-control-sm mb-1" [disabled]="!column.searchable"  placeholder="{{column.title}}">
                            </div>
                        </div>
                          
                        <div class="col-md-3 col-lg-3 col-6" *ngIf="column.type=='date' && column.searchable">
                          <div class="form-group" >
                            <label for="exampleInputEmaidl1" class="text-muted">{{column.title}}</label>
                                <div class="input-group ">
                                    <input  (dateSelect)="dateSeleccionado($event)" placeholder="dd/mm/yyyy"
                                    name="dp" [(ngModel)]="paramSearchToObject[column.data]" ngbDatepicker #d="ngbDatepicker"  class="fz-11 rounded float-right form-control form-control-sm mb-3" style="height:20px" [disabled]="!column.searchable" readonly>
                                    <div class="input-group-append">
                                        <i  *ngIf="column.searchable"  class="fa fa-calendar" (click)="d.toggle()" ></i>
                                    </div>
                                </div>
                          </div>
                        </div>
                        <!--<input *ngIf="column.type=='date'" [type]="column.type" (blur)="SearchForRowFilter($event, column)" class="fz-11 rounded float-right form-control form-control-sm mb-3" [disabled]="!column.searchable" style="height:20px">-->
                        <!--
                        <div class="form-group" *ngIf="column.type=='date' && column.searchable">
                            <label for="columntitle" class="text-muted fz-12">(({{column.title}}))</label>
                            <input  (dateSelect)="dateSeleccionado($event)" placeholder="dd/mm/yyyy"
                             name="dp" [(ngModel)]="paramSearchToObject[column.data]" ngbDatepicker #d="ngbDatepicker"  class="fz-11 rounded float-right form-control form-control-sm mb-3" style="height:20px" [disabled]="!column.searchable" readonly>
                        </div>-->

                        <!--
                         <div class="input-group " *ngIf="column.type=='date' && column.searchable">
                            <label for="" class="text-muted">{{column.title}}</label>
                             <input  (dateSelect)="dateSeleccionado($event)" placeholder="dd/mm/yyyy"
                             name="dp" [(ngModel)]="paramSearchToObject[column.data]" ngbDatepicker #d="ngbDatepicker"  class="fz-11 rounded float-right form-control form-control-sm mb-3" style="height:20px" [disabled]="!column.searchable" readonly>
                             <div class="input-group-append">
                                 <i  *ngIf="column.searchable"  class="fa fa-calendar" (click)="d.toggle()"></i>
                             </div>
                         </div>-->
                    </ng-container>
                    <div class="col-md-12 col-lg-12 col-12">
                        <button class="btn btn-danger btn-sm float-right" (click)="advancedSearch(); DropAdvancedSearch.close();">Buscar <i class="fa fa-search" ></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>


</div>
<div class="row">
<div class="col-md-12 col-lg-12 col-sm-12 col-12" *ngIf="!tableConfig.listado_seleccion">
    <div class="float-right">
        <div class="btn-group">
            <button type="button" class="btn btn-light btn-sm">Exportar</button>
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-sm btn-light dropdown-toggle-split" ngbDropdownToggle><i class="fa fa-caret-down"></i></button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button ngbDropdownItem  *ngFor="let item of tableConfig.buttons.exports" (click)="exportar(item)"><i class="fa fa-file-code-o"></i> {{item}}</button>
                </div>
            </div>
        </div>  
    </div>    
</div>
</div>
<table class="table table-hover table-bordered table-striped" *ngIf="template">
    <thead >
        <tr class="thead-dark" align="center">
            <th>#</th>
            <th></th>
            <th *ngFor="let column of tableConfig.columns">{{column.title}}</th>
        </tr>
        <!--
        <tr align="center">
            <th colspan="2">
                <button class="btn btn-sm btn-success btn-to-top" (click)="searchForRow()"> <i class="fa fa-search"></i> </button>
            </th>            
            <th *ngFor="let column of tableConfig.columns">
               <input *ngIf="column.type!='date' && column.searchable" [type]="column.type" (blur)="SearchForRowFilter($event, column)" class="fz-11 rounded float-right form-control form-control-sm mb-3" [disabled]="!column.searchable" style="height:20px">
                <div class="input-group " *ngIf="column.type=='date' && column.searchable">
                    <input  (dateSelect)="dateSeleccionado($event)" placeholder="dd/mm/yyyy"
                    name="dp" [(ngModel)]="paramSearchToObject[column.data]" ngbDatepicker #d="ngbDatepicker"  class="fz-11 rounded float-right form-control form-control-sm mb-3" style="height:20px" [disabled]="!column.searchable" readonly>
                    <div class="input-group-append">
                        <i  *ngIf="column.searchable"  class="fa fa-calendar" (click)="d.toggle()"></i>
                    </div>
                </div>
            </th>
        </tr> -->
    </thead>
    <tbody>
        <ng-container *ngIf="!isSearching">
            <tr *ngFor="let item of dataSource; let i = index">
                <td>{{i+1}}</td>
                <td>                    
                    <div ngbDropdown class="d-idnline-block" *ngIf="!tableConfig.listado_seleccion">
                        <span id="dropdowntable" class="dropdowntable" ngbDropdownToggle><i class="fa fa-caret-down"></i></span>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem  *ngIf="tableConfig.buttons.acciones['edit']" (click)="editarRow(item)" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i> Editar</button>
                            <button ngbDropdownItem  *ngIf="tableConfig.buttons.acciones['delete']" (click)="eliminarRow(item)" class="btn btn-danger btn-sm"><i class="fa fa-times"></i> Eliminar</button>
                            <button ngbDropdownItem  *ngIf="tableConfig.buttons.acciones['copy']" (click)="copiarRow(item)" class="btn btn-info btn-sm"><i class="fa fa-clone"></i> Copiar</button>
                        </div>
                      </div>
                      <div *ngIf="tableConfig.listado_seleccion">
                        <button  *ngIf="tableConfig.buttons.acciones['edit']" (click)="editarRow(item)" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></button>&nbsp;
                        <button  *ngIf="tableConfig.buttons.acciones['delete']" (click)="eliminarRow(item)" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>&nbsp;
                        <button  *ngIf="tableConfig.buttons.acciones['copy']" (click)="copiarRow(item)" class="btn btn-info btn-sm"><i class="fa fa-clone"></i></button>
    
                      </div>
                </td>
                
                <ng-container *ngFor="let column of tableConfig.columns">             
                   <!--<td *ngIf="!column.pipe && column.render != 'imagen'">{{item | tablevalue:column }} mnmn</td>
                   <td *ngIf="column.pipe == 'currency'">{{item | tablevalue:column | currency }} asd</td>
                   <td *ngIf="column.render == 'imagen'">
                       <img [src]="api_url+'/'+item.imagen" alt="" [width]="column.width_img" *ngIf="item.imagen!=null && item.imagen!=''">
                       <img [src]="api_url+'/uploads/productos/default/defaultproduct.png'" alt="" [width]="column.width_img" *ngIf="item.imagen == '' || item.imagen== null">
                    </td>
                    <td *ngIf="column.type=='date'">{{item | json}} fff </td>-->
                    <td *ngIf="column.type=='text' || !column.type">{{item | tablevalue:column }} </td>
                    <td *ngIf="column.type=='number'">{{item | tablevalue:column }}</td>
                    <td *ngIf="column.type=='date'">{{item | tablevalue:column | date: 'dd/MM/yyyy' }}</td>
                    <td *ngIf="column.type == 'imagen'">
                        <img [src]="api_url+'/'+item.imagen" alt="" [width]="column.width_img" *ngIf="item.imagen!=null && item.imagen!=''">
                        <img [src]="api_url+'/uploads/productos/default/defaultproduct.png'" alt="" [width]="column.width_img" *ngIf="item.imagen == '' || item.imagen== null">
                     </td>                    
                </ng-container>
            </tr>
            </ng-container>
    </tbody>
</table>
<div *ngIf="!template" class="mb-3">
   <ng-template [ngTemplateOutlet]="template" [ngOutletContext]="dataSource"></ng-template>
</div>

<ngb-pagination *ngIf="tableConfig.paginatorPosition=='bottom' || tableConfig.paginatorPosition=='both'"
  [(page)]="currentPage"
  [pageSize]="pageSize"
  [collectionSize]="totalRecords"
  [boundaryLinks] = "true"
  [directionLinks] = "true"
  [ellipses] = "true"
  [maxSize] = "6"
  [rotate] = "true"
  (pageChange) ="pageChange($event)"
  size="sm"></ngb-pagination>