<!--<app-loading *ngIf="isSearching"></app-loading>-->
<div>
    <div class="row">
        <div class="col-md-12 col-lg-12 " style="height:25px;">
            <div class="col-12 text-right" *ngIf="isSearching">
               <i class="fa fa-refresh fa-spin"></i> Buscando... 
            </div>        
        </div>
    </div>
<div class="row">
    <!--<div class="col-md-6 col-lg-6 text-right ">
        mostrar
        <select name="" id="" [(ngModel)]="pageSize">
            <option [value]="le" *ngFor="let le of pageLength">{{le}}</option>
        </select>
        
    </div>-->
    <div class="col-md-8 col-lg-8 ">
        <div class="text-left">
            <!--<input type="text" [(ngModel)]="test" >-->
            
        </div>
    </div>
    <div class="col-md-4 col-lg-4 ">
        <div class="input-group input-group-sm mb-3 float-right">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa fa-search"></i></span>
            </div>
            <input #movieSearchInput type="text" placeholder="Buscar" class="form-control form-control-sm" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        <!--<input  style="width:350px;" type="text"    class="rounded float-right form-control form-control-sm mb-3" >-->
        <!--<form [formGroup]="formulario" novalidate >
          <input   formControlName="searchParam" type="text" placeholder="Buscar"   class="rounded float-right form-control form-control-sm mb-3" >
        </form>-->
    </div>    
  </div>
<table class="table table-hover table-sm">
    <thead >
        <tr class="thead-dark">
            <th>#</th>
            <th></th>
            <th *ngFor="let column of columns">{{column.title}}</th>
        </tr>
        <!--
        <tr>
            <th></th>
            <th></th>
            
            <th *ngFor="let column of columns">
               <input type="text" class="rounded float-right form-control form-control-sm mb-3" [disabled]="!column.searchable" style="height:25px">
            </th>
        </tr>-->
    </thead>
    <tbody *ngIf="!isSearching">
        <tr *ngFor="let item of dataSource; let i = index">
            <td>{{i+1}}</td>
            <td>
                <button (click)="editarRow(item)" *ngIf="acciones.edit" class="btn btn-warning"><i class="fa fa-pencil"></i></button>&nbsp;
                <button  *ngIf="acciones.delete" class="btn btn-danger"><i class="fa fa-times"></i></button>&nbsp;
            </td>
            
            <ng-container *ngFor="let column of datatables_config.columns">
               <!--<td >{{getValueofItem(item, column)}}</td>-->               
               <td *ngIf="!column.pipe && column.render != 'imagen'">{{item | tablevalue:column }}</td>
               <td *ngIf="column.pipe == 'currency'">{{item | tablevalue:column | currency }}</td>
               <td *ngIf="column.render == 'imagen'">
                   <img [src]="api_url+'/'+item.imagen" alt="" [width]="column.width_img" *ngIf="item.imagen!=''">
                </td>
            </ng-container>
        </tr>
    </tbody>    
</table>
<div class="row">
    <div class="col-md-6 col-lg-6 ">
      <app-pagination [links]="arrlinks" (goPage)="goPage($event)"></app-pagination>
    </div>
</div>  
</div>